<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zyzzyxtech.com.trellochallenge" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="zyzzyxtech.com.trellochallenge.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="zyzzyxtech.com.trellochallenge.ui.SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Solution"
            android:label="@string/title_activity_solution"
            android:parentActivityName="zyzzyxtech.com.trellochallenge.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zyzzyxtech.com.trellochallenge.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ContactActivity"
            android:label="@string/title_activity_contact"
            android:parentActivityName=".ui.Solution"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Solution" />
        </activity>
    </application>

</manifest>
